* {
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: white;
}





.container {
    height: 128px;
    display: flex;
    flex-direction: row;
    margin-top: 500px;
    -webkit-box-align: center;
    padding-bottom: 0px;
    justify-content: center;
    column-gap: 55px;
    
    
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -600px;
    
}

.BoxFlex {
    width: 100px;
    height: 120px;
}

.resize {
    width: 700px;
    height: auto;
}
